.chat {
  width: 55rem;
  height: 57rem;
  border: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  margin: 1rem;
}

.conversa {
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
}

.conversa::-webkit-scrollbar {
  width: 6px;
}

.conversa::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.conversa::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.msg-bot {
  align-self: flex-start;
  background-color: #f3e8ff;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 5px;
  max-width: 70%;
}

.msg-user {
  align-self: flex-end;
  background-color: #d1fae5;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 5px;
  max-width: 70%;
}

.msg-text {
  display: block;
  white-space: pre-line;
}

.msg-hora {
  display: block;
  text-align: right;
  font-size: 0.7rem;
  color: #888;
}

.enviar {
  width: 90%;
}
