.layout {
  display: flex;
  height: 100vh;
  width: 100%;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.full-width {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}
