# ==========================
# Backend (Java / Maven)
# ==========================
.idea/
*.iml
target/
*.log

Backend/tecnpoint/src/main/resources/application.properties

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# ==========================
# Frontend (Angular / Node)
# ==========================
Frontend/node_modules/
Frontend/.angular/cache/
Frontend/.vscode/

# Build output
Frontend/dist/
Frontend/out-tsc/


# ==========================
# Sistema / Editor
# ==========================
.DS_Store
Thumbs.db
