.campo-editar {
  width: 26rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.action {
  display: flex;
  justify-content: space-around;
}

.action button {
  margin-top: 2rem;
  width: 135px;
  height: 100%;
  font-size: 25px;
}

small {
  font-size: 18px;
  color: red;
}

.comum_modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.comum_modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  width: 24%;
  max-width: 90%;
  z-index: 1001;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.comum_modal-header h2 {
  align-self: baseline;
}

.comum_modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 45px;
  align-items: center;
  margin-bottom: 5px;
}

.comum_modal-body {
  border-top: 2px solid #ddd;
  padding: 15px;
}

.modal-footer {
  padding: 0px 20px 10px 0px;
}
