.campo-editar {
  width: 23rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.action {
  display: flex;
  justify-content: space-around;
}

.campo-editar label {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.campo-editar input {
  border: none;
  box-shadow: -3px 3px 8px gray;
  border-radius: 5px;
  height: 35px;
}

.campo-editar input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 25px;
}

.action button {
  width: auto;
  height: 100%;
  font-size: 25px;
}

.campo-editar small {
  font-size: 1.5rem;
  color: red;
}

.comum_modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.comum_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  z-index: 1001;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.comum_modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  height: 45px;
}

.comum_modal-body {
  padding: 15px;
}
