<div class="comum_modal-backdrop" *ngIf="isOpen" (click)="close()"></div>

<div class="comum_modal bg-light" *ngIf="isOpen">
  <div class="comum_modal-header">
    <h2>Editar</h2>
    <button class="btn" (click)="close()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
  </div>
  <div class="comum_modal-body">
    <form
      [formGroup]="attUsuarioForm"
      (ngSubmit)="onSubmit()"
      class="editar-usuario bg-light"
      novalidate
    >
      <!-- Nome -->
      <div class="campo-editar">
        <label for="nome">Nome:</label>
        <input
          id="nome"
          type="text"
          class="form-control"
          placeholder="Insira o Nome"
          aria-label="Insira o Nome"
          formControlName="nome"
        />
        <small
          *ngIf="
            attUsuarioForm.get('nome')?.invalid &&
            attUsuarioForm.get('nome')?.touched
          "
        >
          Nome é obrigatório.
        </small>
      </div>

      <!-- Email -->
      <div class="campo-editar">
        <label for="email">Email:</label>
        <div class="input-group mb-2">
          <input
            id="email"
            type="email"
            class="form-control"
            placeholder="Insira o Email"
            aria-label="Insira o Email"
            aria-describedby="basic-addon2"
            formControlName="email"
          />
          <span class="input-group-text" id="basic-addon2"
            >&#64;exemplo.com</span
          >
        </div>
        <small
          *ngIf="
            attUsuarioForm.get('email')?.invalid &&
            attUsuarioForm.get('email')?.touched
          "
        >
          Digite um email válido.
        </small>
      </div>

      <!-- Senha -->
      <div class="campo-editar">
        <label for="senha">Senha:</label>
        <input
          id="senha"
          type="password"
          class="form-control"
          placeholder="Insira a Senha"
          aria-label="Insira a Senha"
          formControlName="senha"
        />
        <small
          *ngIf="
            attUsuarioForm.get('senha')?.invalid &&
            attUsuarioForm.get('senha')?.touched
          "
        >
          Senha é obrigatória.
        </small>
      </div>
      <!-- Confirmar Senha -->
      <div class="campo-cadastro">
        <label for="confirmSenha">Confirmar Senha:</label>
        <input
          id="confirmSenha"
          type="password"
          class="form-control"
          placeholder="Confirme a Senha"
          aria-label="Confirme a Senha"
          formControlName="confirmSenha"
        />
        <small
          *ngIf="
            attUsuarioForm.hasError('senhaRequiredToConfirm') &&
            attUsuarioForm.get('confirmSenha')?.touched
          "
          class="text-danger"
        >
          Confirme a senha para continuar.
        </small>

        <small
          *ngIf="
            attUsuarioForm.hasError('senhaMismatch') &&
            attUsuarioForm.get('confirmSenha')?.touched
          "
          class="text-danger"
        >
          As senhas não coincidem.
        </small>
      </div>

      <!-- Botões -->
      <div class="action">
        <button class="btn btn-danger" type="button" (click)="close()">
          Cancelar
        </button>
        <button class="btn btn-success" type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<div
  class="comum_modal-backdrop"
  *ngIf="successModalOpen"
  (click)="closeSuccess()"
></div>

<div class="comum_modal bg-light" *ngIf="successModalOpen">
  <div class="comum_modal-header">
    <h2>Sucesso!</h2>
    <button class="btn" (click)="closeSuccess()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
  </div>
  <div class="comum_modal-body">Usuário editado com sucesso!</div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="closeSuccess()">Fechar</button>
  </div>
</div>
