<table
  class="table table-striped table-hover align-middle shadow-sm table-bordered"
  style="--bs-table-hover-bg: rgba(139, 92, 246, 0.2)"
>
  <thead style="--bs-table-bg: #8b5cf6; --bs-table-color: #fff">
    <tr>
      <th>Titulo</th>
      <th>Descrição</th>
      <th style="width: 12rem" class="text-center">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chamado of chamados" class="trBody" (click)="goToHome()">
      <td>{{ chamado.titulo }}</td>
      <td>{{ chamado.descricao }}</td>
      <td
        class="text-center"
        [ngClass]="{
          'status-aberto': chamado.status === 'ABERTO',
          'status-pendente': chamado.status === 'PENDENTE',
          'status-resolvido': chamado.status === 'RESOLVIDO',
          'status-em-andamento': chamado.status === 'EM_ANDAMENTO'
        }"
      >
        {{ chamado.status }}
      </td>
    </tr>
  </tbody>
</table>
