.chat {
  width: 55rem;
  height: 57rem;
  border: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  margin: 1rem;
}

.conversa::-webkit-scrollbar {
  width: 6px;
}

.conversa::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.conversa::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

/* Mantém as mensagens bem separadas */
.conversa > div {
  margin-bottom: 8px;
  word-wrap: break-word;
}

.menu {
  width: 35rem;
  height: 57rem;
  border: 2px solid gainsboro;
  border-radius: 20px;
}

.title {
  padding: 1rem;
}

.title h2 {
  font-weight: bold;
}

.dados-chamado {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 2rem;
}

.dados-chamado span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.dados-chamado p {
  margin-left: 3.5rem;
}

.informacoes-adicionais {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.informacoes-adicionais span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.informacoes-adicionais p {
  margin-left: 3.5rem;
}

.conteudo {
  margin: 2rem 2.5rem;
}

.conteudo span {
  font-weight: bold;
}

.conteudo p {
  margin-left: 3rem;
}

.conversa {
  overflow-y: auto;
  padding: 10px;
  scroll-behavior: smooth;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 98%;
}

.enviar {
  width: 90%;
}

.menu select {
  width: 80%;
  margin-left: 1rem;
}

.menu select:hover {
  cursor: pointer;
}

.conversa > div {
  margin-bottom: 8px;
  word-wrap: break-word;
  max-width: 70%;
  padding: 10px 14px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.msg-user {
  align-self: flex-end;
  background-color: #d1fae5;
  color: #064e3b;
  border-top-right-radius: 0;
}

.msg-bot {
  align-self: flex-start;
  background-color: #f3e8ff;
  color: #581c87;
  border-top-left-radius: 0;
}

.mensagem {
  font-size: 0.95rem;
}

.msg-hora {
  text-align: right;
  font-size: 0.7rem;
  color: #777;
  margin-top: 4px;
}
