.um {
  width: 55rem;
  height: 57rem;
  border: 2px solid gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  border-radius: 20px;
  margin: 1rem;
}

.dois {
  width: 35rem;
  height: 57rem;
  border: 2px solid gainsboro;
  border-radius: 20px;
}

.title {
  padding: 1rem;
}

.title h2 {
  font-weight: bold;
}

.dados-chamado {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.dados-chamado span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.dados-chamado p {
  margin-left: 3.5rem;
}

.informacoes-adicionais {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.informacoes-adicionais span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.informacoes-adicionais p {
  margin-left: 3.5rem;
}

.conteudo {
  margin: 2rem 2.5rem;
}

.conteudo span {
  font-weight: bold;
}

.conteudo p {
  margin-left: 3rem;
}

.conversa {
  margin-left: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.enviar {
  width: 90%;
}
