.um {
  width: 100%;
  height: 100%;
  border: 2px solid black;
}

.dois {
  width: 80%;
  height: 100%;
  border: 2px dashed red;
}

.title {
  padding: 1rem;
}

.title h2 {
  font-weight: bold;
}

.dados-chamado {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.dados-chamado span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.informacoes-adicionais {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.informacoes-adicionais span {
  display: flex;
  margin-left: 2.5rem;
  font-weight: bold;
}

.conteudo {
  margin: 2rem 2.5rem;
}

.conteudo p {
  font-weight: bold;
}
