<!-- <div class="container mt-4 ticket-list">
  <div class="card mb-3 ticket-card shadow-sw">
    <div class="card-body" *ngFor="let chamado of chamados">
      <div
        class="d-flex justify-content-between align-item-center ticket-header"
      >
        <div>
          <span class="badge bg-danger ticket-type">{{ chamado.titulo }}</span>
        </div>
      </div>
    </div>
  </div>
</div> -->

<table
  class="table table-hover align-middle"
  style="--bs-table-hover-bg: #8b5cf633"
>
  <thead style="--bs-table-bg: #8b5cf6; --bs-table-color: #fff">
    <tr>
      <th>TITULO</th>
      <th>DESCRIÇÃO</th>
      <th style="width: 12rem" class="text-center">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chamado of chamados" class="trBody" (click)="goToHome()">
      <td>{{ chamado.titulo }}</td>
      <td>{{ chamado.descricao }}</td>
      <td
        class="text-center"
        [ngClass]="{
          'status-aberto': chamado.status === 'ABERTO',
          'status-pendente': chamado.status === 'PENDENTE',
          'status-resolvido': chamado.status === 'RESOLVIDO',
          'status-em-andamento': chamado.status === 'EM_ANDAMENTO'
        }"
      >
        {{ getStatusLabel(chamado.status) }}
      </td>
    </tr>
  </tbody>
</table>
