<table
  class="table table-hover align-middle"
  style="--bs-table-hover-bg: #8b5cf633"
>
  <thead style="--bs-table-bg: #8b5cf6; --bs-table-color: #fff">
    <tr>
      <th>TITULO</th>
      <th>DESCRIÇÃO</th>
      <th style="width: 8rem" class="text-center">PRIORIDADE</th>
      <th style="width: 8rem" class="text-center">MODULO</th>
      <th>CLIENTE</th>
      <th>FUNCIONARIO</th>
      <th style="width: 11rem" class="text-center">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let chamado of chamados"
      class="trBody"
      (click)="goToHome(chamado.idChamado)"
    >
      <td style="width: 10rem; max-width: 10rem" class="limit-text">
        {{ chamado.titulo }}
      </td>
      <td style="width: 20rem; max-width: 20rem" class="limit-text">
        {{ chamado.descricao }}
      </td>
      <td class="text-center">{{ getPrioridadeLabel(chamado.prioridade) }}</td>
      <td class="text-center">{{ chamado.modulo.modulo }}</td>
      <td>{{ chamado.cliente.nome }}</td>
      <td>{{ chamado.funcionario.nome }}</td>
      <td
        class="text-center"
        [ngClass]="{
          'status-aberto': chamado.status === 'ABERTO',
          'status-pendente': chamado.status === 'PENDENTE',
          'status-resolvido': chamado.status === 'RESOLVIDO',
          'status-em-andamento': chamado.status === 'EM_ANDAMENTO'
        }"
      >
        {{ getStatusLabel(chamado.status) }}
      </td>
    </tr>
  </tbody>
</table>
