<table
  class="table table-hover align-middle"
  style="--bs-table-hover-bg: #8b5cf633"
>
  <thead style="--bs-table-bg: #8b5cf6; --bs-table-color: #fff">
    <tr>
      <th>TITULO</th>
      <th>DESCRIÇÃO</th>
      <th>PRIORIDADE</th>
      <th>MODULO</th>
      <th>CLIENTE</th>
      <th>FUNCIONARIO</th>
      <th style="width: 12rem" class="text-center">STATUS</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let chamado of chamados" class="trBody" (click)="goToHome()">
      <td>{{ chamado.titulo }}</td>
      <td>{{ chamado.descricao }}</td>
      <td>{{ getPrioridadeLabel(chamado.prioridade) }}</td>
      <td>{{ chamado.modulo.modulo }}</td>
      <td>{{ chamado.cliente.nome }}</td>
      <td>{{ chamado.funcionario.nome }}</td>
      <td
        class="text-center"
        [ngClass]="{
          'status-aberto': chamado.status === 'ABERTO',
          'status-pendente': chamado.status === 'PENDENTE',
          'status-resolvido': chamado.status === 'RESOLVIDO',
          'status-em-andamento': chamado.status === 'EM_ANDAMENTO'
        }"
      >
        {{ getStatusLabel(chamado.status) }}
      </td>
    </tr>
  </tbody>
</table>
