body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  display: flex;
  flex-direction: row;
}

app-cad-usuario {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

app-usuario {
  width: 100%;
}
