body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  display: flex;
  flex-direction: row;
}

app-usuario {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3rem;
}
