body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

app-root {
  width: 100%;
  display: flex;
  flex-direction: row;
}

app-listar-chamado {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 7rem;
}

app-usuario {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  flex-direction: column;
}

app-chamado {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

app-login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg, #8b5cf6, #a17bfc);
  justify-content: center;
  align-items: center;
}

app-chat-bot {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
