<form
  [formGroup]="abrirChamadoForm"
  (ngSubmit)="onSubmit()"
  class="p-4 border rounded shadow-sm bg-light"
>
  <div class="mb-3">
    <label for="titulo" class="form-label">Título do Chamado</label>
    <input
      type="text"
      id="titulo"
      class="form-control"
      formControlName="titulo"
      placeholder="Insira o título do chamado"
    />
    <small
      *ngIf="
        abrirChamadoForm.get('titulo')?.invalid &&
        abrirChamadoForm.get('titulo')?.touched
      "
    >
      Título é obrigatório.
    </small>
  </div>

  <div class="mb-3">
    <label for="descricao" class="form-label">Descrição do Chamado</label>
    <textarea
      id="descricao"
      class="form-control"
      formControlName="descricao"
      rows="4"
      placeholder="Descreva o problema ou solicitação"
    ></textarea>
    <small
      *ngIf="
        abrirChamadoForm.get('descricao')?.invalid &&
        abrirChamadoForm.get('descricao')?.touched
      "
    >
      Descrição é obrigatória.
    </small>
  </div>

  <div class="mb-3">
    <label for="prioridade" class="form-label">Prioridade</label>
    <select id="prioridade" class="form-select" formControlName="prioridade">
      <option value="" disabled selected>Selecione a prioridade</option>
      <option value="BAIXA">Baixa</option>
      <option value="MEDIA">Média</option>
      <option value="ALTA">Alta</option>
    </select>
    <small
      *ngIf="
        abrirChamadoForm.get('prioridade')?.invalid &&
        abrirChamadoForm.get('prioridade')?.touched
      "
    >
      Prioridade é obrigatória.
    </small>
  </div>

  <div class="mb-3">
    <label for="idJornada" class="form-label">ID da Jornada</label>
    <select id="idJornada" class="form-select" formControlName="fk_id_jornada">
      <option value="" disabled selected>Selecione a jornada</option>
      <option value="1">Financeiro</option>
      <option value="2">Marketing</option>
      <option value="3">Recursos Humanos</option>
    </select>
    <small
      *ngIf="
        abrirChamadoForm.get('fk_id_jornada')?.invalid &&
        abrirChamadoForm.get('fk_id_jornada')?.touched
      "
    >
      Jornada é obrigatória.
    </small>
  </div>

  <div class="mb-3">
    <label for="idModulo" class="form-label">ID do Módulo</label>
    <select id="idModulo" class="form-select" formControlName="fk_id_modulo">
      <option value="" disabled selected>Selecione o módulo</option>
      <option value="1">Hardware</option>
      <option value="2">Software</option>
      <option value="3">Rede</option>
    </select>
    <small
      *ngIf="
        abrirChamadoForm.get('fk_id_modulo')?.invalid &&
        abrirChamadoForm.get('fk_id_modulo')?.touched
      "
    >
      Módulo é obrigatório.
    </small>
  </div>

  <div class="action">
    <button class="btn btn-danger" type="button" (click)="closeForm()">
      Cancelar
    </button>
    <button class="btn btn-success" type="submit">Cadastrar</button>
  </div>

  <div *ngIf="formInvalid" class="alert alert-danger mt-3">
    Por favor, preencha todos os campos obrigatórios corretamente.
  </div>
</form>

<div
  class="comum_modal-backdrop"
  *ngIf="successModalOpen"
  (click)="closeSuccess()"
></div>

<div class="comum_modal bg-light" *ngIf="successModalOpen">
  <div class="comum_modal-header">
    <h2>Sucesso!</h2>
    <button class="btn" (click)="closeSuccess()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="23"
        height="23"
        fill="currentColor"
        class="bi bi-x-circle"
        viewBox="0 0 16 16"
      >
        <path
          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"
        />
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"
        />
      </svg>
    </button>
  </div>
  <div class="comum_modal-body">Chamado aberto com sucesso!</div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="closeSuccess()">Fechar</button>
  </div>
</div>
