table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

th,
td {
  border-right: #dee2e6 solid 2px;
  padding: 10px;
  text-align: left;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  text-align: initial;
  padding-left: 10px;
}

td {
  padding-left: 10px;
}

.cad_btn {
  margin-bottom: 1rem;
  align-self: flex-end;
  margin-right: 5rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

.action_user {
  padding: 8px;
}
