<button (click)="modal.open()">Cadastro</button>

<app-cad-usuario #modal title="Modal cadastro">
  <button (click)="modal.close()">Fechar</button>
</app-cad-usuario>

<form
  [formGroup]="filtroForm"
  (ngSubmit)="aplicarFiltro()"
  class="filtro"
  novalidate
>
  <label>Buscar por nome</label>
  <input placeholder="Buscar por nome" formControlName="busca" />

  <button type="submit" class="btn-filtrar">Filtrar</button>
</form>

<table class="list-usuarios">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo Usuario</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.tipoUsuario }}</td>
    </tr>
  </tbody>
</table>

<div class="paginacao" *ngIf="total > limit">
  <button [disabled]="page === 1" (click)="mudarPagina(page - 1)">
    ◀ Anterior
  </button>

  <span>Página {{ page }}</span>

  <button [disabled]="page * limit >= total" (click)="mudarPagina(page + 1)">
    Próxima ▶
  </button>
</div>
