<button (click)="modalCad.open()">Cadastro</button>

<app-cad-usuario #modalCad title="Modal cadastro">
  <button (click)="modalCad.close()">Fechar</button>
</app-cad-usuario>

<table class="list-usuarios">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Tipo Usuario</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let usuario of usuarios">
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td>{{ usuario.tipoUsuario }}</td>
      <td>
        <button (click)="modalAtt.open()">Editar</button>
        <app-att-usuario #modalAtt title="Modal atualização">
          <button (click)="modalAtt.close()">Fechar</button>
        </app-att-usuario>

        <button>Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
