table {
  width: 85%;
  border-collapse: collapse;
  border-spacing: 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  overflow: hidden;
}

th,
td {
  border-right: #dee2e6 solid 2px;
  padding: 10px;
  text-align: left;
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  text-align: initial;
  padding-left: 10px;
}

td {
  padding-left: 10px;
}

.cad_btn {
  margin-bottom: 1rem;
  align-self: flex-end;
  margin-right: 5rem;
  font-size: 1.5rem;
  border-radius: 8px;
}

.action_user {
  padding: 8px;
}

.comum_modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.comum_modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  width: 24%;
  max-width: 90%;
  z-index: 1001;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.comum_modal-header h2 {
  align-self: baseline;
}

.comum_modal-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 45px;
  align-items: center;
  margin-bottom: 5px;
}

.comum_modal-body {
  border-top: 2px solid #ddd;
  padding: 15px;
}

.modal-footer {
  padding: 0px 20px 10px 0px;
}
