.campo-cadastro {
  width: 30rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.action {
  display: flex;
  justify-content: space-around;
}

.campo-cadastro label {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.campo-cadastro input {
  border: none;
  box-shadow: -3px 3px 8px gray;
  border-radius: 5px;
  height: 35px;
}

.campo-cadastro input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 25px;
}

.action button {
  width: auto;
  height: 100%;
  font-size: 25px;
}

.campo-cadastro small {
  font-size: 1.5rem;
  color: red;
}
